body {
    
}

.converter-block {
  text-align: center;
}

.input-area span {
  font-size: 68px;
  vertical-align: middle;
  font-weight: 700;
  margin: 5px;
  color: #084298;
}

.input-area input {
  border-style: solid;
  border-color: #084298;
  border-radius: 9px;
  border-width: 3px;
  font-size: 42px;
  color: #084298;
  text-align: center;
  font-family: monospace;
  vertical-align: middle;
  margin-top: 10px;
}

.result-area {
  font-size: 38px;
  font-family: monospace;
  color: #084298;
}
